<aside>
  <div class="col-xl-12 sidebar-menu app-sidebar sidebar-menu aside sidebar-menu bg-primary p-0">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-light" routerLinkActive="active" routerLink='/dashboard/events'>Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLinkActive="active" routerLink='/dashboard/eventfunction'>Event
          Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLinkActive="active" routerLink='/dashboard/function'>Function Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLinkActive="active" routerLink='/dashboard/guest'>guest</a>
      </li>
    </ul>
  </div>
</aside>